.container{
    display: flex;
    margin: 0 auto;
}

.row{
    display: flex;
    /*gap: 10px;
    margin-bottom: 10px;*/
}

.grid{
    background-color:beige;
    /*border: 1px solid black;*/
    position: relative;
    width: 50%;
    overflow: hidden;
}

.grid:before{
    content: "";
    display: block;
    padding-top: 100%;
}