.container{
    display: flex;
    margin: 0 auto;
}

.row{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.grid{
    background-color:beige;
    border: 1px solid black;
    height: 0;
    width: 20%;
    padding-bottom: 20%;
}